*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    height: 100px;
    background: blueviolet;
    padding: 0 50px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
}
.mostrar-menu,
.esconder-menu{
    font-size: 30px;
    cursor: pointer;
    /*display: none;*/
    transition: 0.4s;
}
.mostrar-menu{
    order: 1;
}
.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{
color: black;
background: turquoise;
}
#check{
    display: none;    
}
#portada{
  padding: 0 50px;  
  background-image: url(R.jpg);
  height: 690px;
  
  background-position: center;
}
.contenido-portada{
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contenido-portada h2{
    font-size: 40px;
    font-weight: 400;
    padding: 10px 0px;
}
.Empezar{
    text-decoration: none;
    color: #fff;
    border: 1px solid greenyellow;
padding: 20px 40px;
align-self: baseline;
}
.Empezar:hover{
    background: turquoise;
}
/*responsive*/
@media(max-width: 768px){
    .mostrar-menu,
    .esconder-menu{
        display: block;
}
.menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: blueviolet;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 100px 0px;
    z-index: 100;
    transition: 0.8s;
}
.menu a{
    display: block;
    padding: 20px;
}
.esconder-menu{
    position: absolute;
    top: 40px;
    right: 40px;
}
#check:checked ~ .menu{
    right: 0px;
}
}